@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Abel');

/*
light-blue: #2e92e0
dark-blue: #05194e
gray-purple: #5C5565
light-pink: #E37682
purple: #5f4d93
dark-purple: #24174c
*/

html {
  background-color: #935d8c;
  background-image: -webkit-linear-gradient(45deg, #e37682 0%, #5f4d93 70%);

}

.App {
  text-align: center;

}

.App-header {
  background-color: #24174c;
  color: #E37682;
  text-align: left;
  font-family: 'Abel', serif;
  font-size: 20px;

}

.App-header img {
  width: 16px;

}

.App-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.Nav-link {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 15px 20px;
  color: #E37682;

}

.About .Nav-link {
  float: right;

}

.Nav-link:hover,
.Nav-link .active {
  background-color: #031136;

}

.dashboard {
  margin-top: 80px;
  margin-bottom: 80px;

}

.box {
  width: 400px;
  background-color: #f7f7f7;
  padding: 20px;
  margin: 0 auto;
  border-radius: 5px;

}

.box h1 img {
  width: 30px;

}

.box h1{
  font-family: 'Abel', serif;
  color: #2e92e0;
}

.Footer{
  padding-bottom: 1px;
  border-top: 1px solid #f7f7f7;
  margin: 0 20%;
  height: 155px;

}

.Signature {
  color: #f7f7f7;
  font-size: 10px;

}

.icon {
  width: 40px;
  padding: 25px 10px 4px 10px;

}

.Social-icons {
  position: relative;
  margin-left: 50%;

}

.Short-description {
  position: absolute;
  color: #f7f7f7;
  text-align: justify;
  padding: 20px 30px;
  font-size: 12px;

}

/*Welcome page*/
.Welcome {
  background-color: #031137;
  padding: 50px;
  font-family: 'Abel', serif;
  text-align: center;
  font-size: 45px;
  color: #2e92e0;
  opacity: 0.7;

}

.Welcome img {
  width: 80px;

}

.Section {
  background-color: #ececec;
  padding: 50px;
  margin-top: -2px;
  font-family: 'Roboto', sans-serif;
  color: #24174b;
  font-size: 23px;
  text-align: left;

}

.Main-icon {
  width: 50px;
  position: absolute;
  margin-left: 70px;

}

.Section.Features {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 500px;

}

.Feature {
  float: left;
  width: 22%;
  margin: 10px;
  text-align: center;
  padding: 20px;

}

.Feature img {
  background-color: #24174b;
  padding: 25px;
  border-radius: 50%;
  width: 60px;

}

.Feature p {
  margin: 35px;
  text-align: center;
  font-size: 22px;
  color: #444444;

}

.Feature.First {
  margin-left: 10%;

}

.Feature.Last {
  margin-right: 10%;

}

.Main-phrase {
  position: relative;
  padding-left: 130px;
  margin-top: 6px;
  font-size: 36px;
  color: #05194e;

}

.Step {
  margin: 70px 71px;

}

.Step img {
   width: 80px;
   border-radius: 50%;
   background-color: #d5d1df;
   padding: 12px;

}

.Step p {
  width: 90%;
  margin-left: 140px;
  margin-top: -70px;
  position: relative;
  float: left;

}

/* Home dashboard page*/
.UserPicture {
  background-color: #05194e;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  opacity: 0.8;

}

.UserPicture img {
  width: 129px;
  margin-top: 10px;
  border-radius: 50%;

}

.UserSubmit {
  width: 350px;
  margin: 0 auto;
  padding: 30px;

}

.UserSubmit label {
  font-family: 'Abel', serif;
  font-size: 18px;
  font-weight: bold;
  color: #05194e;

}

.UserSubmit input{
  margin-top: 20px;
  padding: 12px;
  font-size: 16px;
  width: 75%;
  font-family: 'Roboto', sans-serif;

}

/*404 page*/

.Note-board {
  background-color: rgba(255,255,255,0.7);
  margin: 10%;
  padding: 5%;
  border-radius: 5px;
  color:#24174c;

}

.Note-board img {
  width: 150px;
  display: block;
  margin: 0 auto;

}

.Note-board h1 {
  text-align: center;
  font-family: 'Abel', serif;

}

.Note-board p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;

}

/* Buttons */
.Trnsp-btn {
  color: #f7f7f7;
  background-color: Transparent;
  border: 1px solid #f7f7f7;
  padding: 10px;

}

.Trnsp-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);

}

.Trnsp-btn a {
  text-decoration: none;
  color: #f7f7f7;
}

.Default-btn {
  margin: 20px;
	background-color:#5f4d93;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding:12px 34px;
	text-decoration:none;
	text-shadow:0px 1px 50px #120b26;
  border-color: #5f4d93;
  text-transform: uppercase;

}

.Default-btn:hover {
	background-color:#24174c;

}

.Default-btn:active {
	position:relative;
	top:1px;

}

.Secondary-btn {
  color: #5C5565;
  background-color: Transparent;
  border: 1px solid #5C5565;
  padding: 10px;
}

.Secondary-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);

}

.Secondary-btn a {
  text-decoration: none;
  color: #5C5565;
}
