@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Abel');

/*purple: #2d1d5f
light-blue: #2e92e0
dark-blue: #05194e
*/

html {
  background-image: url(./img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.App {
  text-align: center;

}

.App-header {
  background-color: #05194e;
  color: #2e92e0;
  text-align: left;
  font-family: 'Abel', serif;
  font-size: 20px;

}

.App-header img {
  width: 16px;

}

.App-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.Nav-link {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 15px 20px;
  color: #2e92e0;

}

.About .Nav-link {
  float: right;

}

.Nav-link:hover,
.Nav-link .active {
  background-color: #031136;

}

.dashboard {
  margin-top: 80px;
  margin-bottom: 80px;

}

.Footer{
  background-color: #05194e;
  padding-bottom: 1px;

}

.Signature {
  color: #2e92e0;
  font-size: 10px;

}

.icon {
  width: 40px;
  padding: 25px 10px 4px 10px;

}

/*Welcome page*/
.Welcome {
  background-color: #031137;
  padding: 50px;
  font-family: 'Abel', serif;
  font-size: 45px;
  color: #2e92e0;
  opacity: 0.7;

}

.Welcome img {
  width: 80px;

}

.Section {
  background-color: #ececec;
  padding: 50px;
  margin-top: -2px;
  font-family: 'Roboto', sans-serif;
  color: #24174b;
  font-size: 23px;
  text-align: left;

}

.Main-icon {
  width: 50px;
  position: absolute;
  margin-left: 70px;

}

.Section.Features {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 500px;

}

.Feature {
  float: left;
  width: 20%;
  margin: 10px;
  text-align: center;
  padding: 20px;

}

.Feature img {
  background-color: #24174b;
  padding: 25px;
  border-radius: 50%;
  width: 60px;

}

.Feature p {
  margin: 35px;
  text-align: center;
  font-size: 22px;
  color: #444444;

}

.Feature.First {
  margin-left: 10%;

}

.Feature.Last {
  margin-right: 10%;

}

.Main-phrase {
  position: relative;
  padding-left: 130px;
  margin-top: 6px;
  font-size: 36px;
  color: #05194e;

}

.Step {
  margin: 70px 71px;

}

.Step img {
   width: 80px;
   border-radius: 50%;
   background-color: #d5d1df;
   padding: 12px;

}

.Step p {
  width: 90%;
  margin-left: 140px;
  margin-top: -70px;
  position: relative;
  float: left;

}

/* Home dashboard page*/
.UserPicture {
  background-color: #05194e;
  width: 250px;
  margin: 0 auto;
  border-radius: 50%;
  height: 250px;
  opacity: 0.8;

}

.UserPicture img {
  width: 229px;
  margin-top: 10px;
  border-radius: 50%;

}

.GenerateBtn {
  margin: 20px;
	background-color:#2d1d5f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding:12px 34px;
	text-decoration:none;
	text-shadow:0px 1px 50px #120b26;
  border-color: #24174c;
  opacity: 0.5;
  text-transform: uppercase;

}

.GenerateBtn:hover {
	background-color:#24174c;

}

.GenerateBtn:active {
	position:relative;
	top:1px;

}

.UserSubmit {
  width: 350px;
  margin: 0 auto;
  padding: 30px;

}

.UserSubmit label {
  font-family: 'Abel', serif;
  font-size: 18px;
  font-weight: bold;
  color: #05194e;

}

.UserSubmit input{
  margin-top: 20px;
  padding: 12px;
  font-size: 16px;
  width: 75%;
  font-family: 'Roboto', sans-serif;

}
